@import "~bootstrap";

body{
  background: #444444;
  word-break: break-all;
}
.yinwuchat-content{
  padding-top: 57px;
  padding-bottom: 40px;
  color: #D6D6D6;

  .yinwuchat-content-warp{
    padding: 8px;
    p{
      margin-bottom: 0;

      .color-a { color: #50FF38; }
      .color-b { color: #5BFFFF; }
      .color-c { color: #EA3A3F; }
      .color-d { color: #EF1DFF; }
      .color-e { color: #FAFF34; }
      .color-f { color: #EDEDED; }
      .color-0 { color: #000000; }
      .color-1 { color: #19009C; }
      .color-2 { color: #30A000; }
      .color-3 { color: #379C9A; }
      .color-4 { color: #9A0000; }
      .color-5 { color: #99009C; }
      .color-6 { color: #EF9B00; }
      .color-7 { color: #9A9A9A; }
      .color-8 { color: #43443E; }
      .color-9 { color: #412BFF; }
      .yinwuchat-chat-style-l{font-weight: bold;}
      .yinwuchat-chat-style-m{text-decoration: line-through;}
      .yinwuchat-chat-style-n{text-decoration: underline;}
      .yinwuchat-chat-style-o{font-style: italic;}
      .yinwuchat-chat-style-r{font-style: normal;font-weight: normal;color: #EDEDED;text-decoration: none;}

      a {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        color: inherit;
      }
    }
  }
}
.yinwuchat-message-time{
  color: #888888;
}
.yinwuchat-chat{
  height: 40px;

  form{
    width: 100%;
    height: 100%;

    input{
      background: transparent;
      border: 0;
      outline: 0;
      padding: 0 8px;
      color: #D6D6D6;
      width: 100%;
      height: 100%;
    }
  }
}

.cursor-hand{
  cursor: pointer;
}

.yinwuchat-player-list{
  top: 57px;
  left: 0;
  right: 0;
  bottom: 40px;

  .row{
    height: 100%;
  }
  .left{
    background: #000000;
    opacity: 0.4;
  }
  .right{
    background: #444444;
    color: white;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;

    h6{
      color: #cccccc;
    }
    .server-info{
      color: #5BFFFF;
    }
    .player_name{
      color: #FAFF34;
    }
  }
}
